html {
    height: 100%;
    margin:0;
    padding: 0;
}
body {
    height: 100%;
    margin:0;
    padding: 0;
}
nav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #C8FFBE;
  overflow-x: hidden;
  padding: 0px;
  margin: 0px;
}

span {
  color:red;
}

/* https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_sidenav */
svg {
  background-color: #edffab;
  margin-left: 200px;
}

lh, span {
	font-family:Arial;
	font-size:30px;
}
li {
	font-size:25px;
}
li b {
  color:rgba(206, 255, 223, 0.61);
}
li, button {
	box-shadow:inset 0px -3px 7px 0px #ba9593;
	background:linear-gradient(to bottom, #89608e 5%, #ba9593 100%);
	background-color:#edffab;
	border-radius:3px;
	border:1px solid #0b0e07;
	color:#ffffff;
	font-family:Arial;
}

button {
	display:inline-block;
	cursor:pointer;
	font-size:15px;
	padding:9px 23px;
}
button:hover {
	background:linear-gradient(to bottom, #0688fa 5%, #2dabf9 100%);
	background-color:#0688fa;
}
button:active {
	position:relative;
	top:1px;
}

        